<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\dev_sites\wms_handheld\env\Scripts\python.exe|C:\dev_sites\wms_handheld\env\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- El formato es archivo.variable. Como tu app se llama app.py y la instancia es app, es "app.app" -->
    <add key="WSGI_HANDLER" value="app.app" />
    <!-- La ruta ABSOLUTA a la carpeta de tu proyecto -->
    <add key="PYTHONPATH" value="C:\dev_sites\wms_handheld" />
    <!-- Opcional pero recomendado -->
    <add key="FLASK_ENV" value="production" />
  </appSettings>
</configuration>