<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>


<meta http-equiv="Content-Type"
      content="text/html; charset=utf-8">

<title>Prueba memoria</title>

<script type="text/javascript">

    function guardar()
    {
        localStorage.setItem("usuario", "raul");

        alert("Usuario guardado");
    }


    function leer()
    {
        var usuario;

        usuario = localStorage.getItem("usuario");

        if (usuario == null)
        {
            alert("No existe usuario");
        }
        else
        {
            alert("Usuario: " + usuario);
        }
    }


    function borrar()
    {
        localStorage.removeItem("usuario");

        alert("Usuario eliminado");
    }

</script>


</head>

<body>


<h3>PRUEBA DE MEMORIA</h3>

<p>
    <input
        type="button"
        value="GUARDAR"
        onclick="guardar();">
</p>

<p>
    <input
        type="button"
        value="LEER"
        onclick="leer();">
</p>

<p>
    <input
        type="button"
        value="BORRAR"
        onclick="borrar();">
</p>


</body>

</html>
